.recipe-detail-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}


.recipe-actions {
    display: flex;
    justify-content: space-between;
    /*margin-bottom: 20px;*/
    /*margin: 20px 0px*/
}

.edit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    gap: 8px;
}

.delete-button:hover {
    background-color: #c82333;
}

/* Recipe card styling */
.recipe-card {
    background-color: #fff;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.recipe-header {
    display: flex;
    align-items: flex-start; /* Links und oben ausrichten */
    margin-bottom: 20px;
}

.recipe-name {
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin: 0;
    text-align: left;
}

.qr-code {
    margin-left: auto;
    width: 64px;
    height: 64px;
}

.recipe-portions {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.recipe-content {
    display: flex;
    gap: 20px;
}

.recipe-ingredients {
    flex: 3;
}

.recipe-instructions {
    flex: 7;
}

.recipe-ingredients h2,
.recipe-instructions h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.ingredients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.ingredient-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    min-width: 100px;
    flex: 1;
    text-align: center;
}

.instructions-content {
    white-space: pre-wrap;
    line-height: 1.5;
    margin-bottom: 0;
}

/* Spinner for loading state */
.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}
