/* src/components/RecipeForm.css */

.recipe-form-container {
  max-width: 900px; /* Breite der Karte erhöht */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
  resize: none; /* Verhindert manuelle Größenänderung durch den Benutzer */
  overflow: hidden; /* Verhindert Scrollbalken */
  min-height: 100px; /* Mindesthöhe festlegen */
  font-family: 'Arial', sans-serif; /* Konsistente Schriftart */
}

textarea:focus {
  outline: none;
  border-color: #007bff; /* Fokusrahmenfarbe */
}

.portion-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.portion-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.portion-button:hover {
    background-color: #0056b3;
}

.form-content {
    display: flex;
    gap: 20px; /* Abstand zwischen den Spalten */
}

.form-ingredients {
    flex: 3; /* 30% der Breite */
}

.form-instructions {
    flex: 7; /* 70% der Breite */
}

.form-ingredients h2,
.form-instructions h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.ingredient-input {
    margin-bottom: 10px;
}

.add-ingredient-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.add-ingredient-button:hover {
    background-color: #218838;
}

.save-button {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.save-button:hover {
    background-color: #0056b3;
}

