.recipeInstructions {
    flex: 4;
}

.instructionsContent {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-color-dark);
}

.instructionsContent p {
    margin-bottom: 0.8rem;
}

.recipeInstructions h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

