body {
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    font-family: Rubik, Arial, sans-serif;
}

.recipe-list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.recipe-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.search-and-button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

.new-recipe-button {
    background-color: #388047;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.new-recipe-button:hover {
    background-color: #224f2a;
}

button svg {
    width: 16px;
    height: 16px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    padding: 16px;
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card .recipe-name {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    transition: color 0.2s;
}

.card:hover .recipe-name {
    color: #555;
}

.card .qr-code {
    margin-left: 16px;
    opacity: 0;
    transition: opacity 0.2s;
}

.card:hover .qr-code {
    opacity: 1;
}

@media (max-width: 600px) {
    .card {
        flex-direction: column;
        align-items: flex-start;
    }

    .card .qr-code {
        margin-left: 0;
        margin-top: 8px;
    }
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
