body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /*color*/
  --primary-color: #438752; /* var(--primary-color) */
  --secondary-color: #0a82ff; /* var(--secondary-color) */
  --secondary-color-hover: #0a60b7; /* var(--secondary-color-hover) */
  --error-color: #de4150; /* var(--error-color) */
  --error-color-hover: #ae2a36; /* var(--error-color-hover) */
  --text-color-dark: #494949; /* var(--text-color-dark) */
  --text-color-light: #ffffff; /* var(--text-color-light) */
  --background-color: #f4f4f9; /* var(--background-color) */
  --background-color-white: #ffffff; /* var(--background-color-white) */
  --background-color-dark: #000000; /* var(--background-color-white) */
  --border-color-light: #ddd; /* var(--border-color-light) */

  /*shadow*/
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* var(--box-shadow) */
  --box-shadow-hover: 0 6px 12px rgba(0, 0, 0, 0.2); /* var(--box-shadow-hover) */

  /*radius*/
  /*TODO: noch spezifischer anschauen und zwischen Card und Button unterscheiden*/
  --card-border-radius-bottom: 0 0 12px 12px; /* var(--card-border-radius-bottom) */
  --card-border-radius: 12px; /* var(--card-border-radius) */
}