/* PortionControl.module.css */
.recipePortions {
    font-size: 18px;
    color: var(--text-color-dark);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.portionButton {
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.portionButton:hover {
    background-color: var(--secondary-color-hover);
}